APP_NAME=TutStar
APP_ENV=local
APP_KEY=base64:LdgftmQi3NSP3cVMugSM3LLqkyUoBjnm+5q65+JiVFI=
APP_DEBUG=true

APP_URL=http://localhost:8000
ASSET_URL=${APP_URL}

# APP_URL=https://tutstar.cytnest.com
# ASSET_URL=https://tutstar.cytnest.com

# APP_URL=https://tutstar.com
# ASSET_URL=${APP_URL}

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tutstar
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
# QUEUE_CONNECTION=sync

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME="cytnest@gmail.com"
MAIL_PASSWORD="password"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="cytnest@gmail.com"
MAIL_FROM_NAME="TutStar"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


CALLBACK_URL=${APP_URL}/api/phonepe/webhook


# Which environment to use: 'uat' or 'prod'
PHONEPE_ENV=uat

# ---------- UAT (Testing) ----------
PHONEPE_UAT_CLIENT_ID=M2350V8YQ1AK4_2511251804
PHONEPE_UAT_CLIENT_VERSION=1
PHONEPE_UAT_CLIENT_SECRET=MzQxNzU2NWMtMjc0OS00ZGM2LTkzNDktMmI1NTM1OWQ1NzA5

# ---------- PRODUCTION ----------
PHONEPE_PROD_CLIENT_ID=SU2509111930221097979817
PHONEPE_PROD_CLIENT_VERSION=1
PHONEPE_PROD_CLIENT_SECRET=a033599f-eff4-4eb8-8b1b-4a1c3e335726

# Redirect URL after checkout (must match PhonePe dashboard config)
PHONEPE_REDIRECT_URL=${APP_URL}/phonepe/process


ZOOM_ACCOUNT_ID=lFo04K0PSe66mlHECNFw_w
ZOOM_CLIENT_ID=DYA6z84T2mOIMTD4mv7MA
ZOOM_CLIENT_SECRET=0lWD3aB53QNw5Kw5xKufYJa9r2BokVX1
ZOOM_BASE_URL=https://api.zoom.us/v2
ZOOM_DEFAULT_USER=rohitchaudhary426@gmail.com
ZOOM_WEBHOOK_SECRET=Az0AkkuKT7OemYYUi5YWcQ


ZOOM_TOKEN=Az0AkkuKT7OemYYUi5YWcQ
ZOOM_TIMEZONE=Asia/Kolkata
# Zoom Credential-
# Login: rohitchaudhary426@gmail.com 
# Pass: Classes@123



# paginate
PAGINATE=10
